{% extends "layout.njk" %}

{% block head %}
    <title>Home - Foodfy</title>
{% endblock %}

{% block content %}

        <div class="BackgroundChef">
            <div class="BackgroundChef-content">
                <h1>As melhores receitas</h1>
                <p> 
                    Aprenda a construir os melhores pratos 
                    com receitas criadas por profissionais do mundo inteiro.
                </p>
            </div>
            
            <img src="assets/chef.png" alt="Chef">
        </div>

{% endblock %}

{% block mostaccessed %}
        <div class="MostAccessed">
            Mais Acessadas
        </div>
{% endblock %}

