{% extends "layout.njk" %}

{% block head %}
    <title>Home - Foodfy</title>
{% endblock %}

{% block content %}
    <body>
        <div class="cabeca">
            <div>
                <h1>As melhores receitas</h1>
                <p>
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                </p>
            </div>
            <img src="assets/chef.png" alt="Chef">
        </div>

        <div class="maisAcessadas">
            <h2>Mais acessadas</h2> <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQHxo_un508hkw/company-logo_200_200/0?e=2159024400&v=beta&t=5vww25IrJe5b_FTyA3CD9cs_-r7OKMPzrs_CQMKk_mA" alt="">
        </div>
{% endblock %}
