<!DOCTYPE html>
<html lang="PT-BR">
<head>

    {% block head %} {% endblock %}

    <link rel="stylesheet" href="/styles.css">

    <nav>
        <img src="/assets/logo.png" alt="Logo">
        <a href="/" class="active">Inicio</a>
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
        <a href="/admin">Admin</a>
    </nav>
</head>

    {% block content %} {% endblock %}


    
    {% block mostaccessed %} {% endblock %} 
    
    <section class="cards"> 
        {% for item in items %}
            <div class="card" id="{{item.id}}">
                <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/{{item.image}}" alt="Imagem de {{item.title}}">
                <div>
                <h1 class="title">{{item.title}}</h1>
                <h3 class="author">por {{item.author}}</h3>
                </div>
            </div>
        {% endfor %}
    </section>

    <script src="/scripts.js"></script>

    <div class="footer">
            Todos os créditos reservados, receitas Foodfy  
    </div>
</body>
</html>