{% extends "layout.njk" %}

{% block head %}
    <title>{{item.title}}</title>
{% endblock %}

{% block content %}
    <section class="recipe">
        <div class="recipe" id="{{item.id}}">
            
            <div class="image_recipe">
                <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/{{item.image}}" alt="Imagem de {{item.title}}">
            </div>

            <div class="card_info">
                <h1 class="title">{{item.title}}</h1>
                <h3 class="author">por {{item.author}}</h3>
            </div>

            <div class="card_content">

                <button type="button" onclick="Mudarestado('minhaDiv')">Mostrar / Esconder</button>
                <h1>Ingredientes: </h1>
                <div id="minhaDiv">
                    <p>{{item.ingredients}}</p>
                </div>
                

                <h1> Preparo: </h1>
                <p>{{item.preparation}}</p>


                <h1> Informações: </h1>
                <p>{{item.information}}</p>

            
            </div>
        </div>
    </section>
{% endblock %}