{% extends "layout.njk" %}

{% block head %}
    <title>Receita {{item.title}}</title>
{% endblock %}

{% block content %}
    <section class="recipe">
        <div class="recipe" id="{{item.id}}">
            <div class="image_recipe">
                <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/{{item.image}}" alt="Imagem de {{item.title}}">
            </div>

            <div class="card_info">
                <h1 class="title">{{item.title}}</h1>
                <h3 class="author">por {{item.author}}</h3>
            </div>

            <div class="card_content">

            <h1>Ingredientes: </h1> <input id="bma" type="button" value="Mostrar" onClick="mostra('ma')">
            <div id="ma" class="hidden" >
                <p>{{item.ingredients}}</p>
            </div>               
            
            
            <h1> Preparo: </h1> <input id="bmb" type="button" value="Mostrar" onClick="mostra('mb')">
            <div id="mb" class="hidden">     
                <p>{{item.preparation}}</p>
            </div>
            
            <h1> Informações: </h1> <input id="bmc" type="button" value="Mostrar" onClick="mostra('mc')">
            <div id="mc" class="hidden"> 
                <p>{{item.information}}</p>
            </div>
            </div>
        </div>
    </section>
{% endblock %}