{% extends "layout.njk" %}

{% block head %}
    <title>Admin - Foodfy</title>
{% endblock %}

{% block content %}

<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Nome"/>
      <input type="password" placeholder="Senha"/>
      <button>login</button>
      <p class="message">Esqueceu a senha? <a href="#">recupere seu acesso</a></p>
    </form>
  </div>
</div>

{% endblock %}