<header class='container header-home'>
    <div class='logo'>
        <a href='/'>
            <img src='/assets/logo.png' alt='Foodfy logo'>
        </a>
    </div>

    <div class='links'>
        
        <i class="material-icons">info</i><a href='/about'>Sobre</a>

        <i class="material-icons">restaurant</i><a href='/recipes'>Receitas</a>   

        <i class="material-icons">person</i><a href='/chefs'>Chefs</a>

        <i class="material-icons">login</i><a href='/login'>Login</a>

    </div>
   
    <form action='/search' method='GET' class='filter-form'>
        <div class='input'>
            <input 
                type='text' 
                name='filter'
                placeholder='Buscar uma receita'
                value={{filter}}
            >
        </div>
   
        <button class='button' type='submit'>Buscar</button>
    </form>
</header>